
@media (min-width: 1200px){
    section.slogan>section.row>section#menu ul>li{
        margin-left: 10px;
    }
    section.slogan>section.row>section#menu ul>li>a{
        font-size: 13px;

    }
}
@media (min-width: 990px) and (max-width: 1200px){
    section.slogan>section.row>section#menu ul>li{
        margin-left: 10px;
    }
    section.slogan>section.row>section#menu ul>li>a{
        font-size: 13px;

    }
    section.slogan a.navbar-brand>img{
        width: 80%;

    }
}
@media (min-width: 768px) and (max-width: 990px){
    section.slogan>section.row>section#menu ul>li{
        margin-left: 10px;
    }
    section.slogan>section.row>section#menu ul>li>a{
        font-size: 13px;

    }
    section.slogan a.navbar-brand>img{
        width: 80%;
    }
}
@media (min-width: 575px) and (max-width: 768px){
    section.slogan>section.row>section#menu ul>li{
        margin-left: 10px;
    }
    section.slogan>section.row>section#menu ul>li>a{
        font-size: 13px;

    }
    section.slogan a.navbar-brand>img{
        width: 80%;
    }
}
@media (max-width: 575px){
    section.slogan>section.row>section#menu ul>li{
        margin-top: 10px;
        text-align: center;
        font-size: 13px;
        transition: all 300ms linear;
    }
    section.slogan>section.row>section#menu ul>li:hover{
        box-shadow: 5px 5px 25px black;
        transition: all 300ms linear;
    }
    section.slogan>section.row>section#menu ul>li:hover>a{
        font-weight: bold;
    }
    section.slogan>section.row>section#menu ul>li>a{
        font-size: 13px;
    }
    section.slogan a.navbar-brand>img{
        width: 80%;

    }
}